<div class="col-md-12">
  <div class="container">
    <p><%= notice %></p>
    <div class="justify-content-center text-align-center">
      <h1>New Job category</h1>
      <%= render 'form' , job_category: @job_category %> 
      <%= link_to 'Back' , admin_job_categories_path %>
    </div>
  </div>
</div>


